
#contenidos{
    width: 1300px;
    height: auto;
    margin: auto;
    position: relative;
}
body {
    background-color: #005883;
}
h1{
    margin-top: 35px;
    font-family: 'Franklin Gothic heavy';
    font-size: 60px;
    text-align: left;
    margin-left: 145px;
    color: white;
    margin-bottom: 0px;
}

h2{
    margin-right: 180px;
    font-family: 'Franklin Gothic heavy';
    font-size: 40px;
    text-align: center;
    color: white;
    margin-top: 15px;
}
header{
    
    background-image: url(http://stadium.unad.edu.co/ovas/10596_10272/images/LogoUNAD2010.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 200px 145px;
    width: 1250px;
    height: 145px;
    background-color: rgba(255, 255, 255, 0);
    margin-bottom: 15px;
    margin-left: 50px;
}
nav{
    font-family: 'Franklin Gothic heavy';
    text-align: center;
    width: 1300px;
    height: 50px;
    background-color: #F0B429;
    border-radius: 5px;
    border-bottom-right-radius: 0; 
    margin-bottom: 0px;
    display: block;
    
}
ul{
    
    margin: 0px;
    padding: 0px;
    display: inline-block;
}    
li{ 
    float: left;
    list-style-type: none;
    background-color: #F0B429;
    width: inherit;
    height: 35px;
    font-size: 25px;
    color: white;
    margin-right: 30px;
    padding-top: 8px;
    padding-bottom: 5px;
}
li ul{
    position: inherit;
    display: none;
    width: 230px;
}
 li ul a{
    font-size: 20px;
}
li:hover ul{
    display: block;   
}
section{
    width: 1300px;
    height: auto;
    z-index: -1;
    float: left;
}
article{
    
    width: 700px;
    float: left;
}
aside{
    
    width: 280px;
    float: left;
    margin-left: 25px;
    height: 490px;
    padding-left: 19px;
    
    /*margin-left: 20px;*/
}
img{
    margin-left: 25px;
    width: 170px;
    height: auto;
    
    
}
h3{
    margin-top: 15px;
    font-family: 'Franklin Gothic heavy';
    font-size: 30px;
    text-align: center;
    color: #F0B429;
}
figure{
    margin: 0;
    padding: 0;
}
hr{
    z-index: -1;
    background-color: #F0B429;
    border-color: #F0B429;
    left: 714px;
    width:4px;
    height: 420px;
    top: 290px;
    position: absolute;
    margin: 0;
}
p{
    font-family: 'Franklin Gothic italic';
    color: white;
    font-size: 20px;
    text-align: justify;
    margin-left: 10px;
}
footer{
    border-radius: 5px;
    border-bottom-right-radius: 0;
    position: absolute;
    height: 70px;
    background-color: #F0B429;
    width: 1300px;
    clear: both;
    top: 710px;
}
footer img{
    margin: 0px;
    height: 15px;
    width: auto;   
}
h4{
    margin-top: 20px;
    padding: 0px;
    text-align: center;
    font-size: 15px;
    color:white;
    margin-bottom: 5px;   
}
h5{
  
    margin-left: 1200px;
}
.ancho_menu_home{width: 900px;}
.ancho_menu_paginas{width: 970px;}

.menu:link{color: white; text-decoration:none}
.menu:visited{color: white; text-decoration:none}    
.menu:hover{ color: #005883;text-decoration:none}
.menu:active{color: white; text-decoration:none}
.menu:focus{color: white; text-decoration:none}

li:hover{
    background-color: #F0B429;
    z-index: 2   
}
iframe{
    position: absolute;
    z-index: -1;
    border-radius: 5px;
    border-bottom-right-radius: 0;
}
.texto{
    font-size: 30px;
}




